body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
/*Bootstrap override*/
.page-header { margin: 0; }
.no-gutters { margin-right: 0; margin-left: 0; }

/* App CSS */
.match {background-color: #EAFFEE; height: 50px;}
.match td {padding:5px !important; border-bottom: 1px solid green;}
.match.lost td {background-color: #FFF2F2; border-bottom: 1px solid red;}
.match .h3 {font-size: 30px;}
.match .score-left, .match .score-right {height: 40px; text-align: center;}
.match .score-left {float: left; width: 40%; background-color: #B6D7A8;}
.match .score-right {float: right; width: 60%; background-color: #38761D; font-size: 30px; color:white;}
.match .result .h3 {font-size: 18px; border-radius: 0; font-weight: normal; padding: 5px; display: inline-block; margin: 0; text-transform: uppercase; line-height: 1.6;}
.inning-box {padding-left: 0;}
.inning-box h4, .inning-box h1 { margin: 5px 0 7px 0; }
